.innerContainer{
    height: 100vh;
    width: 100%;    
    background-color: #0d0d0d;
}
.detailsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.inner-inner{
    background-color: #1a1a1a;
    margin: 0;
    padding: 25px;
    border-radius: 5px;

}
.h1{
    color: #fff;
    margin: 0;  
    margin-bottom: 20px;
    font-size: xx-large;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: start;
}
label{
    margin: 5px;
    margin-bottom: 0px;
    color: #fff;
}
.input{
    margin: 5px;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #272727;
}
.button{
    margin: 5px;
    margin-top: 20px;
    padding: 15px;
    width: 330px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #1a7fc1;
    color: #fff;
}

.p{
    color:white;
    font-size: small;
    margin-left: 5px;
    text-align: left;
}